extends ../layout

block content
    h1.
        #{title}
    ul
        - each player, i in players
            li
                p
                    =player.username
                p wins: 
                    =player.wins
                p losses: 
                    =player.losses
                p
                    a(href='/players/#{player.username}/edit') Edit
                p
                    a(href='/players/#{player.username}') Show

    p
        a(href='/players/new') Add new