extends ../layout

block content
	h1.
		#{title}
	ul
		- each winner, i in winners
			li
				= winner.username
				form(action='/winners/#{winner._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
					input(type='hidden',value='DELETE',name='_method')
					button(type='submit').
						Delete
				p
					a(href='/winners/#{winner._id}/edit') Edit
				p
					a(href='/winners/#{winner._id}') Show

	p
		a(href='/winners/new') Add new